* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-main: #0B1020;
    --bg-card: #161B2E;

    --primary: #7C3AED;
    --secondary: #3B82F6;

    --text-main: #FFFFFF;
    --text-secondary: #9CA3AF;
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

svg {
    stroke: #0B1020;
    width: 25px;
    height: 25px;
}

::-webkit-scrollbar {
    height: 6px;
    width: 6px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #9CA3AF;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #161B2E;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    padding-left: 3%;
    padding-right: 3%;
    margin-bottom: 20px;
}

.container .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.25); */
}

.container .navbar .first h4 {
    color: #7C3AED;
    font-size: 20px;
}

.container .navbar .first .logo {
    display: flex;
    align-items: center;
}

.container .navbar .first .logo h4 {
    margin-right: 5px;
}

.container .navbar .second form {
    display: flex;
    align-items: center;
}

.container .navbar .second .search {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    margin-right: 20px;
    border-radius: 5px;
}

.container .navbar .second .search input {
    padding: 8px;
    border: none;
    outline: none;
    width: 300px;
    margin-right: 3px;
    border-radius: 5px;
}

.container .navbar .second .search input::placeholder {
    font-family: 'Poppins', sans-serif;
}

.container .navbar .second form .search button {
    border: none;
    outline: none;
    background-color: #FFFFFF;
    margin-right: 5px;
    cursor: pointer;
}

.container .navbar .second .search button svg {
    margin-right: 0px;
    margin-top: 0px;
    width: 22px;
    height: 22px;
}

.container .navbar .second .search button svg:hover {
    stroke: #7C3AED;
}

.container .navbar .second form a svg {
    margin-right: 20px;
    width: 25px;
    height: 25px;
    margin-top: 8px;
}

.container .navbar .second form a svg:hover {
    stroke: #7C3AED;
}

.container .navbar .second form a {
    color: #0B1020;
    border: none;
    cursor: pointer;
}

.container .navbar .second form .active svg {
    stroke: #7C3AED;
}


.container .navbar .third {
    display: flex;
    align-items: center;
}

.container .navbar .third a svg {
    margin-right: 15px;
    margin-top: 8px;
}

.container .navbar .third a svg:nth-child(3) {
    margin-right: 0px;
}

.container .navbar .third svg {
    stroke: #0B1020;
}

.container .navbar .third a svg:hover {
    stroke: #7C3AED;
}

.container .navbar .third a img {
    border-radius: 50%;
    margin-right: 15px;
    margin-top: 8px;
}

.container .popup {
    width: 96%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.80);
    position: absolute;
    margin-right: 3%;
    z-index: 10;
    border-radius: 5px;
    padding: 10px;
    display: none;
}


.container .popup .close ion-icon {
    color: #0B1020;
    font-size: 23px;
    margin-left: 95%;
    padding: 10px;
    border-radius: 50%;
    background-color: #FFFFFF;
    cursor: pointer;
}

.container .popup .content {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: #9CA3AF;
    width: 500px;
    height: auto;
    border-radius: 5px;
    padding: 10px;
}

.container .popup .content .content_owner {
    display: flex;
    align-items: center;
}

.container .popup .content .content_owner img {
    border-radius: 50%;
    margin-right: 5px;
}

.container .popup .content .content_owner .content_owner_info {
    align-self: flex-start;
    margin-bottom: 10px;
}

.container .popup .content .content_owner .content_owner_info h5 {
    color: #0B1020;
}

.container .popup .content form input[type="text"] {
    border: none;
    outline: none;
    width: 100%;
    padding: 8px;
    background-color: #fff;
    border-radius: 25px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 8px;
}

.container .popup .content form input::placeholder {
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
}

.container .popup .content form #image_cancle {
    color: #0B1020;
    font-size: 20px;
    margin-left: 87%;
    margin-top: 8px;
    padding: 10px;
    border-radius: 50%;
    background-color: #FFFFFF;
    cursor: pointer;
    display: none;
    margin-bottom: 10px;
    position: absolute;
}

.container .popup .content form .showimage {
    width: 70px;
    height: 70px;
    border-radius: 5px;
    margin-bottom: 6px;
    display: none;
}



.container .popup .content form .add_to_post {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.container .popup .content form .add_to_post button {
    border: none;
    outline: none;
    padding: 8px;
    background-color: #0B1020;
    color: #fff;
    width: 150px;
    border-radius: 4px;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.container .popup .content form .add_to_post ul {
    display: flex;
    align-items: center;
}

.container .popup .content form .add_to_post ul li {
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 20px;
}

.container .popup .content form .add_to_post ul li label ion-icon {
    font-size: 25px;
    cursor: pointer;
}

.container .popup .content form .add_to_post ul li label #photo {
    color: green;
}

.container .popup .content form .add_to_post ul li label #tag {
    color: #3B82F6;
}

.container .popup .content form .add_to_post ul li label #location {
    color: maroon;
}

.container .popup .content form input[type="submit"] {
    width: 100%;
    border: none;
    outline: none;
    background-color: #3B82F6;
    color: #fff;
    padding: 8px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}


.container main {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.container main .first {
    background-color: #FFFFFF;
    width: 25%;
    height: 100vh;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    overflow-y: auto;
    margin-right: 20px;
}

.container main .first ul a {
    display: flex;
    align-items: center;
    padding: 8px;
    text-decoration: none;
    margin-bottom: 5px;
}

.container main .first ul .active {
    background-color: #ccc;
    border-radius: 5px;
}

.container main .first ul a:hover {
    background-color: #ccc;
    border-radius: 5px;
}

.container main .first ul a svg {
    margin-right: 10px;
    font-size: 20px;
    stroke: #161B2E;
}

.container main .first ul a p {
    font-size: 15px;
    color: #161B2E;
    margin-top: 6px;
}

.container main .first #create_post {
    background-color: #7C3AED;
    color: #FFFFFF;
    text-decoration: none;
    padding: 6px;
    margin-left: 8px;
    width: 120px;
    font-size: 12px;
    border-radius: 5px;
    text-align: center;
}

.container main .first .signout {
    margin-left: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container main .first .signout .signout_first {
    display: flex;
    align-items: center;
}

.container main .first .signout .signout_first img {
    border-radius: 50%;
    margin-right: 10px;
    align-self: flex-start;
}

.container main .first .signout .signout_first .signout_info p {
    font-size: 10px;
}

.container main .second {
    align-self: flex-start;
    width: 45%;
    margin-right: 20px;
    overflow-y: auto;
    height: auto;
    padding: 10px;
    border-radius: 5px;
}


.container main .second::-webkit-scrollbar {
    height: 0px;
    width: 0px;
}

.container main .second::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 5px;
}

.container main .second::-webkit-scrollbar-thumb {
    background: #9CA3AF;
    border-radius: 6px;
}

.container main .second::-webkit-scrollbar-thumb:hover {
    background-color: #161B2E;
}

.container main .second .post_container {
    width: 100%;
    height: auto;
    max-height: 550px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.25);
    margin-bottom: 15px;
    position: relative;
    overflow-y: auto;
}

.container main .second .post_container .post_owner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    padding: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.container main .second .post_container .post_owner img {
    border-radius: 50%;
    align-self: flex-start;
    margin-right: 10px;
}

.container main .second .post_container .post_owner .post_owner_info {
    align-self: flex-start;
    flex-grow: 1;
}

.container main .second .post_container .post_owner .post_owner_info .info {
    display: flex;
    flex-direction: column;
}

.container main .second .post_container .post_owner .post_owner_info .info h5 {
    font-size: 12px;
}

.container main .second .post_container .post_owner .post_owner_info .info p {
    font-size: 10px;
}

.container main .second .post_container .caption_container {
    display: flex;
    cursor: pointer;
}

.container main .second .post_container .caption_container p {
    align-self: flex-end;
}

.container main .second .post_container .caption_container strong {
    font-size: 12px;
}

.container main .second .post_container .post_caption {
    font-size: 11px;
    position: relative;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: -5px;
}

.container main .second .post_container .post_owner svg {
    align-self: flex-start;
    cursor: pointer;
}

.container main .second .post_container .post_wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.container main .second .post_container .post_wrapper #chevback {
    margin-right: 20px;
    background-color: #fff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 3px;
    transition: 0.1s;
}

.container main .second .post_container .post_wrapper #chevfront {
    margin-left: 20px;
    background-color: #fff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.1s;
    margin-right: 3px;
}

.container main .second .post_container .image_wrapper {
    width: 100%;
    overflow-x: hidden;
    aspect-ratio: 1 / 1;
    padding: 8px;
    display: flex;
}

.container main .second .post_container .image_wrapper a {
    display: block;
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    scroll-snap-type: x mandatory;
    margin-right: 5px;
}


.container main .second .post_container .post_image {
    height: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 5px;
}

.container main .second .post_container .no_image {
    width: 100%;
    overflow-x: hidden;
    aspect-ratio: 1 / 1;
    padding: 8px;
    display: none;
}

.container main .second .post_container .no_image.show {
    display: flex;
}

.container main .second .post_container .no_image a {
    display: block;
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    scroll-snap-type: x mandatory;
    margin-right: 5px;
}

.container main .second .post_container .post_option_container {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 10;
    margin-top: -10px;
    display: none;
}

.container main .second .post_container .post_option_container.display {
    display: block;
}

.container main .second .post_container .post_option_container ul {
    display: flex;
    flex-direction: column;
}

.container main .second .post_container .post_option_container ul a {
    display: flex;
    align-items: center;
    padding: 8px;
    background-color: #fff;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.25);
    text-decoration: none;
}

.container main .second .post_container .post_option_container ul a svg {
    margin-right: 15px;
}

.container main .second .post_container .post_option_container ul a p {
    color: #0B1020;
    font-weight: 400;
    font-size: 12px;
}

.container main .second .post_container .video_wrapper {
    width: 100%;
    overflow-x: hidden;
    aspect-ratio: 16 /9;
    padding: 8px;
    display: flex;
    position: relative;
}

.container main .second .post_container .post_video {
    width: 100%;
    border-radius: 5px;
    height: 100%;
    margin-right: 5px;
}

.container main .second .post_container .video_wrapper .video_pause {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container main .second .post_container .video_wrapper .video_pause .pause {
    stroke: #161B2E;
    background-color: #fff;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.25);
    padding: 8px;
    border-radius: 50px;
    display: none;
    width: 40px;
    height: 40px;
}

.container main .second .post_container .video_wrapper video {
    object-fit: cover;
    width: 100%;
    border-radius: 8px;
}

.container main .second .post_container .post_wrapper_option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-top: 1px solid #ccc;
    padding: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.container main .second .post_container .post_wrapper_option a {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 8px;
    width: 150px;
    text-align: center;
    justify-content: center;
    border-right: 2px solid #ddd;
    margin: 3px;
    margin-right: 3px;
}

.container main .second .post_container .post_wrapper_option a:hover {
    background-color: #ccc;
    border-radius: 5px;
}

.container main .second .post_container .post_wrapper_option a svg {
    margin-right: 10px;
    stroke: #0B1020;
    width: 20px;
    height: 20px;
}

.container main .second .post_container .post_wrapper_option a p {
    color: #0B1020;
    margin-right: 5px;
    font-size: 12px;
    white-space: nowrap;
}

.container .second .post_container .post_sure_modal {
    position: absolute;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.80);
    z-index: 20;
    padding: 10px;
    display: none;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.container .second .post_container .post_sure_modal .post_sure_container {
    width: 300px;
    height: auto;
    background-color: #fff;
    padding: 8px;
    border-radius: 6px;
    text-align: center;
}

.container .second .post_container .post_sure_modal .post_sure_container h5 {
    margin-bottom: 10px;
}

.container .second .post_container .post_sure_modal .post_sure_container .post_sure_option {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .second .post_container .post_sure_modal .post_sure_container .post_sure_option a {
    width: 100%;
    padding: 8px;
    text-decoration: none;
    font-size: 12px;
    border-radius: 4px;
}

.container .second .post_container .post_sure_modal .post_sure_container .post_sure_option a:nth-child(1) {
    background-color: green;
    color: #fff;
    margin-right: 5px;
}

.container .second .post_container .post_sure_modal .post_sure_container .post_sure_option a:nth-child(2) {
    background-color: maroon;
    color: #fff;
    cursor: pointer;
}

.container .second .post_container .post_video_sure_modal {
    position: absolute;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.80);
    z-index: 20;
    padding: 10px;
    display: none;
    align-items: center;
    justify-content: center;
    aspect-ratio: 16 / 9;
}

.container .second .post_container .post_video_sure_modal .post_sure_container {
    width: 300px;
    height: auto;
    background-color: #fff;
    padding: 8px;
    border-radius: 6px;
    text-align: center;
}

.container .second .post_container .post_video_sure_modal .post_sure_container h5 {
    margin-bottom: 10px;
}

.container .second .post_container .post_video_sure_modal .post_sure_container .post_sure_option {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .second .post_container .post_video_sure_modal .post_sure_container .post_sure_option a {
    width: 100%;
    padding: 8px;
    text-decoration: none;
    font-size: 12px;
    border-radius: 4px;
}

.container .second .post_container .post_video_sure_modal .post_sure_container .post_sure_option a:nth-child(1) {
    background-color: green;
    color: #fff;
    margin-right: 5px;
}

.container .second .post_container .post_video_sure_modal .post_sure_container .post_sure_option a:nth-child(2) {
    background-color: maroon;
    color: #fff;
    cursor: pointer;
}

.container .second .edit_post {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.80);
    border-radius: 8px;
    aspect-ratio: 1 / 1;
    z-index: 20;
    padding: 8px;
    display: none;
}

.container .second .edit_post .edit_post_modal_close {
    display: flex;
    justify-content: right;
    cursor: pointer
}

.container .second .edit_post .edit_post_modal_close svg {
    background-color: #fff;
    padding: 8px;
    border-radius: 50px;
    width: 35px;
    height: 35px;
}

.container .second .edit_post form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 8px;
}

.container .second .edit_post form .post_caption {
    width: 100%;
    height: auto;
    max-height: 150px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    padding: 8px;
    margin-bottom: 8px;
    border: none;
    outline: none;
    overflow-y: auto;
    background-color: #fff;
    box-shadow: 0px 0px 0px 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 6px;
}

.container .second .edit_post form .input_text {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: none;
    outline: none;
    background-color: #fff;
    box-shadow: 0px 0px 0px 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    display: none;
}

.container .second .edit_post form input[type="submit"] {
    border: none;
    outline: none;
    background-color: #3B82F6;
    color: #fff;
    padding: 8px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
}

.container .second .sharePost {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.80);
    border-radius: 8px;
    aspect-ratio: 1 / 1;
    z-index: 20;
    padding: 8px;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.container .second .sharePost .share_post_modal_close {
    display: flex;
    justify-content: right;
    cursor: pointer
}

.container .second .sharePost .share_post_modal_close svg {
    background-color: #fff;
    padding: 8px;
    border-radius: 50px;
    width: 35px;
    height: 35px;
}

.container .second .sharePost h3 {
    margin-bottom: 10px;
    color: #fff;
}


.container .second .sharePost .share_container ul {
    margin-bottom: 8px;
}

.container .second .sharePost .share_container ul a {
    display: flex;
    align-items: center;
    text-decoration: none;
    width: 100%;
    padding: 8px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

.container .second .sharePost .share_container ul a:nth-child(1) {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.container .second .sharePost .share_container ul a:nth-child(4) {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.container .second .sharePost .share_container ul a svg {
    color: #161B2E;
    width: 25px;
    height: 25px;
    margin-right: 8px;
}

.container .second .sharePost .share_container ul a p {
    font-size: 12px;
    color: #0B1020;
    font-family: 'Poppins', sans-serif;
}

.container .second .sharePost .share_container button {
    border: none;
    outline: none;
    width: 100%;
    padding: 8px;
    color: #fff;
    background-color: #3B82F6;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    cursor: pointer;
}



.container main .second .comment_upload form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 25px;
}

.container main .second .comment_upload form textarea{
    border: none;
    outline: none;
    width: 100%;
    margin-right: 5px;
    border-radius: 25px;
    font-family: 'Poppins', sans-serif;
    resize: none;
    padding-left: 8px;
    padding-right: 8px;
    overflow-y: auto;
}

.container main .second .comment_upload form textarea::placeholder{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}

.container main .second .comment_upload form button{
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 25px;
    background-color: #3B82F6;
    cursor: pointer;
}

.container main .second .comment_upload form button svg{
    stroke: #fff;
    width: 25px;
    height: 25px;
}

.container main .second .post_container hr{
    border-color: #ddd;
    border-width: 1px;
}

.container main .second .post_container .comment_display{
    padding: 8px;
}


.container main .second .post_container .comment_display .comment_inner{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
}

.container main .second .post_container .comment_display .comment_inner a{
    margin-right: 10px;
    align-self: flex-start;
}

.container main .second .post_container .comment_display .comment_inner a img{
    border-radius: 50%;
}

.container main .second .post_container .comment_display .comment_inner .comment_option{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.container main .second .post_container .comment_display .comment_inner .comment_option .comment_info p{
    font-size: 12px;
}

.container main .second .post_container .comment_display .comment_inner .comment_option .comment_info .inner_option{
    display: flex;
    align-items: center;
}

.container main .second .post_container .comment_display .comment_inner .comment_option .comment_info .inner_option a{
    font-size: 12px;
    text-decoration: none;
}

.container main .second .post_container .comment_display .comment_inner .comment_option  svg{
    padding: 8px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.container main .second .post_container .comment_display p{
    align-self: flex-start;
}


.container main .third {
    align-self: flex-start;
    width: 25%;
    padding: 10px;
    height: auto;
}

.container main .third .follow_suggest {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
}

.container main .third .follow_suggest h4 {
    font-family: 13px;
    margin-bottom: 7px;
    color: #7C3AED;
}

.container main .third .follow_suggest .follow_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.container main .third .follow_suggest .follow_container .follow_inner {
    display: flex;
    align-items: center;
}

.container main .third .follow_suggest .follow_container .follow_inner img {
    align-self: flex-start;
    border-radius: 50%;
    margin-right: 10px;
    border: 1px dashed #fff;
}

.container main .third .follow_suggest .follow_container .follow_inner .follow_info p {
    font-size: 12px;
}

.container main .third .follow_suggest .follow_container a {
    align-self: flex-start;
    text-decoration: none;
    background-color: #3B82F6;
    color: #fff;
    padding: 6px;
    min-width: 100px;
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    text-align: center;
    border-radius: 5px;
}

.container main .third .trending {
    padding: 8px;
    width: 100%;
    border-radius: 5px;
    background-color: #ccc;
}

.container main .third .trending h4 {
    margin-bottom: 5px;
}

.container main .third .trending p{
    font-size: 12px;
}